{% extends 'base.html' %}
{% block content %}
    {% if athlete_data %}

            {% for athlete in athlete_data %}
                  <p>
                    <h2> {{ athlete.name }}</h2>
                  </p>
                  <p>
                    <b>ID:</b> {{ athlete.idAtletas }}<br>
                  </p>
                  <p>
                    <b>Sex:</b> {{ athlete.sex }}<br>
                  </p>
                  <p>
                    <b>Height:</b> {{ athlete.height }}<br>
                  </p>
                  <p>
                    <b> Weight:</b> {{ athlete.weight }}<br>
                  </p>
                  
                  <p>
                    <a href="/athletes/{{ athlete.idAtletas }}/athletes-participations"> Athletes Participations </a>
                </p>
        
            {% endfor %}

        {% endif %}

        
    {% endblock %}