{% extends 'base.html' %}
{% block content %}
    

    {% if athlete_data %}

            {% for athlete in athlete_data %}
                  <p>
                    <h2> {{ athlete.name }}</h2>
                  </p>
                  <p>
                    <b>ID:</b> {{ athlete.idAtletas }}<br>
                  </p>
                  <p>
                    <b>Sex:</b> {{ athlete.sex }}<br>
                  </p>
                  <p>
                    <b>Height:</b> {{ athlete.height }}<br>
                  </p>
                  <p>
                    <b> Weight:</b> {{ athlete.weight }}<br>
                  </p>
            {% endfor %}

            <h2>Athlete Participations</h2>

        {% if athlete_participations %}
                {% for participation in athlete_participations %}
                    <li>
                        <strong>Event:</strong> {{ participation.event }}<br>
                        <strong>City:</strong> {{ participation.city }}<br>
                        <strong>Season:</strong> {{ participation.season }}<br>
                        <strong>Year:</strong> {{ participation.year }}<br>
                        <strong>Medal:</strong> {{ participation.medal }}<br>
                        
                    </li>
                {% endfor %}
        {% else %}
            <p>No participations found for this athlete.</p>
        {% endif %}

        </ul>
    {% else %}
        <p>Athlete not found.</p>
    {% endif %}

    {% endblock %}