{% extends 'base.html' %}
{% block content %}


    {% if category_data %}
            {% for category in category_data %}
            <p>
                <h2>{{ category.event }}</h2>
            </p>
            <p>
                <b>ID:</b> {{ category.idCategorias }}<br>
            </p>
            {% endfor %}

            <h2>Podium</h2>
            {% set unique_years = [] %}
        <ul>
            {% for data in category_results_years %}
                {% if data.year not in unique_years %}
                    {% set _ = unique_years.append(data.year) %}
                    <li>
                        <p>
                            <b>{{ data.year }} {{ data.city }} {{ data.season }}</b>
                        </p>
                        
                        <table border="1">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Medal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for result in category_results_years if result.year == data.year %}
                                    <tr>
                                        <td><a href="/athletes/{{ result.idAtletas }}">{{ result.idAtletas }}</a></td>
                                        <td>{{ result.name }}</td>
                                        <td>{{ result.medal }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found for {{ category_data[0].event }}.</p>
    {% endif %}



{% endblock %}





