{% extends 'base.html' %}
{% block content %}

<h2> Database Statistics </h2>
<table>
  <tr>
    <th>Items</th>
    <th>Count</th>
  </tr>
  <tr>
    <td>Athletes</td>
    <td>{{ stats.n_atletas }}</td>
  </tr>
  <tr>
    <td>Sports</td>
    <td>{{ stats.n_modalidades }}</td>
  </tr>
  <tr>
    <td>Categories</td>
    <td>{{ stats.n_categorias }}</td>
  </tr>
  <tr>
    <td>Games</td>
    <td>{{ stats.n_eventos }}</td>
  </tr>
  <tr>
    <td>Teams</td>
    <td>{{ stats.n_equipas }}</td>
  </tr>
  <tr>
  
</table>
<h2> Athlete General Statistics </h2>
<table>
  <tr>
    <th>Items</th>
    <th>Count</th>
  </tr>
  <tr>
    <td>Woman Athletes</td>
    <td>{{ stats.atletas_mulheres }}</td>
  </tr>
  <tr>
    <td>Men Athletes</td>
    <td>{{ stats.atletas_homens }}</td>
  </tr>
</table>
<div>
  <h2>Top 10 Athletes by Medal Count</h2>

  <table border="1">
      <thead>
          <tr>
              <th>Athlete ID</th>
              <th>Athlete Name</th>
              <th>Medal Count</th>
              
          </tr>
      </thead>
      <tbody>
          {% for row in stats_athletes %}
              <tr>
                  <td>
                    <a href="/athletes/{{ row.idAtletas }}">{{ row.idAtletas }}</a>
                  </td>
                  <td>{{ row.name }}</td>
                  <td>{{ row.count_medals }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<div>
    <h2>Top 10 Teams by Medal Count</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Team ID</th>
                <th>Team Name</th>
                <th>Medal Count</th>
                
            </tr>
        </thead>
        <tbody>
            {% for row in stats_equipas %}
                <tr>
                    <td>
                      <a href="/teams/{{ row.idEquipas }}">{{ row.idEquipas }}</a>
                    </td>
                    <td>{{ row.team }}</td>
                    <td>{{ row.count_medals }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
  <div>
    <div>
        <h2>Top 10 Games by Number of Athletes</h2>
    
        <table border="1">
            <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Year</th>
                    <th>City</th>
                    <th>Season</th>
                    <th>Athletes</th>
                    <th>Female Athletes</th>
                    <th>Male Athletes</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for row in stats_games %}
                    <tr>
                        <td>
                          <a href="/games/{{ row.idEventos }}">{{ row.idEventos }}</a>
                        </td>
                        <td>{{ row.year }}</td>
                        <td>{{ row.city }}</td>
                        <td>{{ row.season }}</td>
                        <td>{{ row.number_athletes }}</td>
                        <td>{{ row.number_female_athletes }}</td>
                        <td>{{ row.number_male_athletes }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
      <div>
{% endblock %}
